{% extends "base.html" %}

<!-- Title -->
{% block title %}Home{% endblock %}


{% block content %}
<div style="font-size: 22px; font-weight: bold; color: #ffffff; background: linear-gradient(135deg, #2af598 0%, #08aeea 100%);
    padding: 5px; border-radius: 12px; box-shadow: 0 6px 12px rgba(0,0,0,0.15); text-align: center; margin: 5px 0; font-family: 'Arial', sans-serif;">
    Driving Innovation and Empowering Growth with
    <span style="color: #ffff00; font-size: 26px; text-shadow: 1px 1px 3px rgba(0,0,0,0.3);">
        <code>Cloud</code>
    </span>,
    <span style="color: #4cff00; font-size: 26px; text-shadow: 1px 1px 3px rgba(0,0,0,0.3);">
        <code>AI </code>    
    </span> &
    <span style="color: #ffff00; font-size: 26px; text-shadow: 1px 1px 3px rgba(0,0,0,0.3);">
        <code>Next-Gen Technologies</code>
    </span> 
</div>

<div style="font-size: 18px; font-weight: bold; color: #ffffff; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 5px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); text-align: center; margin: 20px 0; font-family: 'Arial', sans-serif;"">
    Investment is Your Future:
    <span style="color: #ffa33b; font-size: 22px; text-shadow: 1px 1px 2px rgba(0,0,0,0.5);"><code>Build Wealth Today</code></span> 
    for a 
    <span style="color: #ffeb3b; font-size: 22px; text-shadow: 1px 1px 2px rgba(0,0,0,0.5);"><code>Prosperous Tomorrow</code></span>
</div>

<div class="content-box">
    <h1>Welcome to TheDataFestAI</h1>
    <p>→ Learn cutting edge technologies here. Understand each and everything <strong style="text-transform: uppercase">s</strong>tep by <strong style="text-transform: uppercase">s</strong>tep.</p>
    <div style="padding-left: 5rex;">
        <ul>
            <li>Learn Data Engineering with help of Cloud Architechture.</li>
            <li>Learn Data Analysis.</li>
            <li>Learn AI/ML and Understand the power of GenAI and Learn how to use LLM.</li>
        </ul>
    </div>
    <p>→ This is a place where you can learn <strong style="text-transform: uppercase">w</strong>hy to invest, <strong style="text-transform: uppercase">w</strong>here to invest and <strong style="text-transform: uppercase">h</strong>ow to invest.</p>
    <div class="container" style="padding-left: 5rex;">
        <ul>
            <li>Understand multiple and different types of Savings & Investments options.</li>
            <li>Track the market and use algo-trading in trading.</li>
            <li>Understand blockchain and crypto world and any other new investment options</li>
        </ul>
    </div>
    <p>→ Learn and implement <strong style="text-transform: uppercase">t</strong>echnology and use them in your <strong style="text-transform: uppercase">i</strong>nvestment journey regularly.</p>
</div>

<div class="content-box">
    <h2>Features Included:</h2>
    <ol>
        <li>Undertand & Track the India Stock Market using <a href="{{ url_for('ticker') }}">Ticker</a>.</li>
        <li>Learn Cloud(AWS, Azure, GCP) to build serverless, scallable and efficient tool using <a href="#">Services</a>.</li>
        <li>Learn AI/ML, GenAI and LLM models.</li>
        <li>Understand Blockchain and crypto.</li>
    </ol>
</div>

<div class="content-box">
    {% if not kite_login %}
    <p><a href="{{ html_data['login_url'] }}">Click Here</a> to login to Kite-Connect</p>
    {% else %}
    <p>Login to Kite-Connect is successful</p>
    {% endif %}

    <table>
        <tr>
            <th>Login Url</th>
            <th>Redirect Url</th>
            <th>Console Url</th>
        </tr>
        <tr>
            <td>{{ html_data["login_url"] }}</td>
            <td>{{ html_data["redirect_url"] }}</td>
            <td>{{ html_data["console_url"] }}</td>
        </tr>
    </table>
    </br>
    <table>
        <caption>Zerodha User Details</caption>
        <thead>
            <tr>
                <th>Broker</th>
                <th>User Type</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>User Image</th>
                <th>User ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ html_data["kite_broker"] }}</td>
                <td>{{ html_data["kite_user_type"] }}</td>
                <td>{{ html_data["kite_user_name"] }}</td>
                <td>{{ html_data["kite_email"] }}</td>
                <td><img src="{{ html_data['kite_avatar_url'] }}" alt="Profile Image" style="width:30px;height:30px;"></td>
                <td>{{ html_data["kite_user_id"] }}</td>
            </tr>
        </tbody>
    </table>
</div>
        
{% endblock %}

    
