{% extends "base.html" %}

<!-- Custom Style -->
 {% block custom_style %} 
 <style>
    * {
        font-size: small;
    }
 </style>
 {% endblock %}

<!-- Title -->
{% block title %}Portfolio Tracker{% endblock %}


{% block content %}
<div class="content-box">
    <p>Apps</p>
    <table>
        <!-- <caption>Zerodha User Details</caption> -->
        <thead>
            <tr>
                <th>Broker</th>
                <th>API</th>
                <th>User Type</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>User Image</th>
                <th>User ID</th>
            </tr>
        </thead>
        <tbody>
            {% if not kite_login %}
            <tr>
                <td>Zerodha</td>
                <td><a href="{{ html_data['login_url'] }}">Kite-Connect</a></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            {% else %}
            <tr>
                <td>{{ html_data["kite_broker"] }}</td>
                <td>Connected</td>
                <td>{{ html_data["kite_user_type"] }}</td>
                <td>{{ html_data["kite_user_name"] }}</td>
                <td>{{ html_data["kite_email"] }}</td>
                <td><img src="{{ html_data['kite_avatar_url'] }}" alt="Profile Image" style="width:30px;height:30px;"></td>
                <td>{{ html_data["kite_user_id"] }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div class="content-box">
    
</div>

{% endblock %}